<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <title>List All Devices</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div th:if="${sendDTO != null}">
        <form th:method="post" th:action="@{/send}" th:object="${sendDTO}">
            <label>Input Mac Address : </label>
            <input type="text" th:field="*{macAddress}"/>
            <label>Input File Path : </label>
            <input type="file" th:field="*{filePath}"/>
            <input th:type="submit" th:name="btSubmit"/>
        </form>
    </div>
</body>
</html>